@mixin center-flex($type: null) {
  display: flex;

  @if $type == 'x' {
    justify-content: center;
  } @else if $type == 'y' {
    align-items: center;
  } @else {
    justify-content: center;
    align-items: center;
  }
}